

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
    font-family: 'Squares';
    src: url('squares_bold_free-webfont.eot');
    src: url('squares_bold_free-webfont.eot?#iefix') format('embedded-opentype'),
         url('squares_bold_free-webfont.woff2') format('woff2'),
         url('squares_bold_free-webfont.woff') format('woff'),
         url('squares_bold_free-webfont.ttf') format('truetype'),
         url('squares_bold_free-webfont.svg#squares_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}














